/* CSS for Word Guess Game aka Hangman  */

main {
    width: 100%;
    position: absolute;
}

#theGame {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    top: 0px;
    padding: 30px 100px 100px 100px;
    background-color: aliceblue;
}

#theDetails {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    top: -100px;
    padding: 0px 100px 50px 100px;
    background-color: aliceblue;
}

strong {
    color: red;
}

#theMP3 {
    text-align: center;
}